

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 10px;
  background-color: rgb(227, 185, 34);
}

.cart{
  border: none;
  background: transparent;
  position: relative;
}
.cart>span{
  background-color: red;
  min-width: 14px;
  width: 100%;
  height: 14px;
  position: absolute;
  left: 0;
  top: -15px;
  color: #fff;
  font-size: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}